* {}

header {}

section {
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    padding-top: 20px;
}

.divsec {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;

}

img {
    width: 100%;
    height: 100%;
}

.image-sec {
    padding: 30px;
}




/* responsiveness

@media  (max-width: 768px){
    
}

@media (max-width: 1024px) {
    
} */
