s* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}
.navdiv{
    display: flex;
    justify-content: space-between;
}
.div1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.div2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.divsec {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;

}
.button1{
    font-size: small;

}
.cart {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.imgp1 {
    width: 300px;
    height: 300px;
}

.pchair {
    color: darkcyan;
    font-size: small;

}

.imgp2 {
    width: 300px;
    height: 300px;
}

.psofa {
    color: darkcyan;
    font-size: small;
}

.divim1 {
    position: relative;
}

.span1 {
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px;
    height: fit-content;
    width: fit-content;

}



.imgp3 {
    width: 300px;
    height: 300px;
}


.divim2 {
    position: relative;
}

.pc {
    color: darkcyan;
    font-size: small;
}

.h31 {
    background-color: white;
    border: 100px;
    border-radius: 50px;
    width: 80px;
    height: 40px;
    text-align: center;

}
.buttonresize{
    border: none;
    box-shadow: none;
    background-color: white;
}
.ptable {
    color: darkcyan;
    font-size: small;
   
    
}
.divdiv0{
    padding-left: 20px; 
}
.divdiv00{
    padding-left: 20px; 
}
.divdiv{
    padding-left: 20px; 
}
.divdiv1{
    padding-left: 20px;
}
button{
    cursor: pointer;
    color: darkcyan;
    font-size: large;
    border: none;
}




@media (max-width: 768px) {
    .cart {
       
        display: block;
        
      } 
    
}
@media (max-width: 768px) {
    .divsec {
        display: block;
        
    
    }
}
@media (max-width: 768px) {
    .navdiv{
        display: flex;
        justify-content: space-between;
    }
    .div1{
        display: flex;
        
    }
    .div2{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .divsec {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-left: 30px;
        padding-right: 30px;
}

}
